[Unit]
Description=Inicializacao do MoonGen/DPDK
After=network.target 

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/moongen_start.sh
#ExecStart=/opt/MoonGen/build.sh
 
[Install]
WantedBy=multi-user.target 

