[Unit]
Description=Inicializacao do MoonGen/DPDK
After=network.target 

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nfp-dpdk-mg.sh mi
 
[Install]
WantedBy=multi-user.target 
#
# Copiar para /lib/systemd/system
# Adicionar link ao daemon de inicializacao
#    systemctl enable [arq].service
# Recarregar o daemon para adicionar e sempre que sofrer ateracao
#    systemctl daemon-reload
